body {
    animation: anim-background 10s linear infinite;
    background: linear-gradient(294.89deg, #390363 16.13%, #51048c 16.14%, #1d1e6f 45.61%, #0E114F 78.95%);
    background-size: 400% 400%;
    animation: colors 10s ease-in infinite;
}


@keyframes colors {
    0% {
        background-position:0% 50% ;
    }

    50% {
        background-position: 70% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}


.center {
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}


#perfil-logo {
    width: 210px;
    height: 210px;
    border-radius: 143.5px;
}

#title-home {
    font-family: 'Murecho';
    font-style: normal;
    font-weight: 200;
    font-size: 56px;
    line-height: 101px;
    color: #FFFFFF;
    top: 415px;
}

#button {
    width: 268px;
    height: 78px;
    background: linear-gradient(90deg, #1F1367 50%, #4A0184 131.16%);
    top: 550px;
}

